/*css for vaccine app*/


.MathJax {
  font-size: 0.3rem;
  font-align: center;
}

.leaflet .legend {
  line-height: 11px;
  font-size: 11px;
}

/* adjust the key boxes*/
.leaflet .legend i{ 
  width: 12px;
  height: 12px;
  }

/*Custom button colors*/ 
.btn-myclass {
  color: #9ECAE1;

}